<html>
    <head>
        <title>Success Page</title>
        <link type="text/css" rel="stylesheet" href="../public/style/mystyle.css">
    </head>
    <body>
        <h1><%=user%>, <%=msg%> </h1>

        <img src="../public/images/bg.jpg">

    </body>
</html>