<html>
    <head>
        <title>Success Page</title>
        <style>
            body{
                background-color: chocolate;
            }
            h1{
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size: 42;
                text-align: center;
                color:yellow;
            }
        </style>
    </head>
    <body>
        <h1>welcome <%=user%>,Login Successful!!!!</h1>
    </body>
</html>