<html>
    <head>
<title>>Demonstrating web app</title>
<style>
    body{
        background: orange;
        font-size: 24px;
        text-align: center;
    }
h1{
    color: bisque;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

</style>
    </head>
    <body>
    <h1>The result is: <%=res%> </h1>
    </body>
</html>