
doctype html
html 
head
    title Login page 
style. 
    body{
        background-color:yellow;
    }
body
    form(action='/login',method='GET')
        p 
        | Enter UserName:
        input(name='uname' type='text')
        | Enter Password:
        input(name='pwd' type='password')
        input(value='Login',type='Submit')
